
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #f5f8ff;
}



             /* button-common style */
.btn{
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
}

          /* Navbar Style */
header{
    width: 100%;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
}
nav h2{
   font-family: "Inter", sans-serif;
   font-size: 38px;
   color: #4E47FF;
   font-weight: bold;
}

.btn-1{
    width: 132px;
    height: 48px;
}

              /* banner Style */
.nav-banner{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: 120px 150px 200px;
}

.btn-2{
    width: 174px;
    height: 48px;
    margin-top: 40px;
}

    /* See It in Action style */

.container{
    max-width: 1140px;
    width: 100%;
    margin: 120px auto;
}

.action{
    display: flex;
    justify-content: space-between;
    gap: 250px;
    align-items: center;
    font-family: "Raleway", sans-serif;
}
.action-content h1{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action-content p{
   font-size: 24px;
    color: #252432b0;
    margin-bottom: 23px;
}
.btn-3{
    padding: 15px 30px;
}
.action-pic img{
    border-radius: 48px;
}

    /* Productive Users style */

.productive-users{
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
    border-radius: 24px;
}
.users-title h1{
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.users-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    margin: 30px;
}
.users-info h1{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}
.users-info p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

   /* What our users say Section */

.loved-container{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
}

.loved-card{
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 14px;
    font-family: "Raleway", sans-serif;
}
.loved-content{
   margin: 24px 0;
}
.loved-content p{
    margin: 10px 0;
    font-weight: 500;
}
.loved-data{
    display: flex;
    gap: 20px;
    color: #757575;
    
}
.loved-data img{
    border-radius: 100%;
}
 
  /* Ready to focus better style */

  .focus-container{
    background-color: #FFFFFF;
    padding: 71px 150px;
    border-radius: 14px;
  }
 .users-title p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 20px;
  }
.btn-4{
    text-align: center;
    margin: 20px 0;
}
.focus-container img{
    border-radius: 48px;
}

 /* Let’s Get in Touch section */

.form-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 0;
}

.form-container h1{
    font-size: 90px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}

form input[type="text"],form input[type="email"], form textarea{
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 500px;
    padding: 20px 32px;
    margin-bottom: 20px;
    border: 2px solid #D6DDED;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}


form label{
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.btn-5{
    width: 500px;
    padding: 19px 100px;
}

  /* Footer Styles */

.footer-container{
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: center;
    padding: 100px 500px;
    border-radius: 5px;
}
.footer-container h1{
    font-size: 70px;
    color: #4E47FF;
}
.footer-container p{
    color: rgba(137, 135, 161, 1);
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 20px 50px;
}
.menu ul li a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}

  /* footer End */

     /* Hover Styles */

 nav h2:hover,.banner-content:hover, .action-content h1:hover, .users-title h1:hover, .form-container h1:hover{
    text-shadow: 3px 3px #dea4e0;
    cursor: pointer;
}
.users-info h1:hover{
    text-shadow: 3px 3px rgb(68, 193, 193);
}
.loved-card:hover, form input:hover, form textarea:hover{
    box-shadow:  0 6px 20px 0 rgba(15, 15, 15, 0.604);
}

.btn:hover{
    background-color: #d383d6;
    color: black;
    box-shadow:  0 6px 20px 0 rgba(15, 15, 15, 0.604);
    cursor: pointer;
}

.footer-container h1:hover{
    text-shadow: 3px 3px #dea4e0;
    cursor: pointer;
}
.menu ul li a:hover{
    font-weight: bold;
    color: black;
}